
.preload {
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
    background-color: white;
}

.main-page {
    display:none;
    background-color: #d6d5d5;
}