{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <title>Books</title>
  </head>

  <body>

    <!-- Navbar -->
    {% include "navbar/navbar.html" %}
    <br>

    <!-- Main Page -->
    <div class="container">

      <p class="h1 text-center">List of Books</p>
      <p class="h3 text-right" id="favorite-counter">Favorite: 0</p>

      <div class="dropdown pb-4">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          Choose the category
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item changeCategory" onclick="change('architecture')" href="#">Architecture</a>
          <a class="dropdown-item changeCategory" onclick="change('comic')" href="#">Comic</a>
          <a class="dropdown-item changeCategory" onclick="change('quilting')" href="#">Quilting</a>
          <a class="dropdown-item changeCategory" onclick="change('python')" href="#">Python</a>
          <a class="dropdown-item changeCategory" onclick="change('django')" href="#">Django</a>
        </div>
      </div>


      <!-- Tabel books -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody id="table-body">
            <td colspan="5" class="text-center">Please choose the category</td>
        </tbody>
      </table>
      
    </div>

  </body>

</html>
