{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Statusku</title>
  </head>

  <body style="background-color: #EEEEEE">

    <!-- Navbar -->
    {% include "navbar/navbar.html" %}

    <div class="container-fluid col-8">
      <h1 class="text-center">Hello, Apa kabar?</h1>

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button id="button-update" type="submit" class="btn btn-secondary text-center" name="submit">Update Status</button>
      </form>

      <br><br>

      {% for i in status%}
      <div class="card">
        <div class="card-header">
          {{ i.datetime }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ i.status }}</p>
        </div>
      </div>
      <br>
      {% endfor %}

    </div>
  </body>

</html>
