{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Accordion -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <title>My Profile</title>
  </head>

  <body>

    <div class="preload" style="background-color: white">
      <img src="https://ubisafe.org/images/transparent-gif-loading.gif"/>
    </div>

    <div class="main-page">

      <!-- Navbar -->
      {% include "navbar/navbar.html" %}

      <div class="container col-md-5">

        <div class="row">
          <div class="col text-center pt-2">
            <h1>Hello, guys!</h1>
          </div>
        </div>

        <div class="row pb-3">
          <div class="container col-6 text-center">
            <p></p>
            <img src="https://i.postimg.cc/6qsFrzhk/tio.jpg" class="img-fluid rounded-circle" alt="Responsive image">
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h3>Laksono Bramantio</h3>
            <h6>Student at Universitas Indonesia</h6>
            <br>

            <h6>Change Theme</h6>
            <div class="btn-group pb-1">
              <button id="default" type="button" class="btn btn-secondary">Default</button>
              <button id="nightMode" type="button" class="btn btn-secondary"">Night Mode</button>
            </div>
            
          </div>
        </div>

        <h4 class="text-center pt-4">Tentang Saya</h4>

        <!-- Accordion -->
        <div class="row pt-1 pb-3">
          <div class="container">

            <div id="accordion">
              <h3>Aktivitas</h3>
              <div>
                <p>
                  Aktivitas saya saat ini adalah saya merupakan seorang mahasiswa jurusan Sistem Informasi dari Universitas Indonesia.
                </p>
              </div>

              <h3>Organisasi/Kepanitiaan</h3>
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Organisasi/Kepanitiaan</th>
                      <th>Jabatan</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>BEM Fasilkom UI 2018</td>
                      <td>Staf Dept. Keilmuan</td>
                    </tr>
                    <tr>
                      <td>FUKI Fasilkom UI 2018</td>
                      <td>Staf Humas</td>
                    </tr>
                    <tr>
                      <td>CompFest X</td>
                      <td>Staf IGI</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3>Prestasi</h3>
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tahun</th>
                      <th>Prestasi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2018</td>
                      <td>Paham pemrograman web</td>
                    </tr>
                    <tr>
                      <td>2017</td>
                      <td>Punya KTP</td>
                    </tr>
                    <tr>
                      <td>1999</td>
                      <td>Lahir ke bumi</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div>

      </div>

    </div>
    

  </body>

</html>
