{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <title>Subscribe</title>
  </head>

  <body style="background-color: #eeeeee;">

    <!-- Navbar -->
    {% include "navbar/navbar.html" %}

    <div class="container col-md-8">

      <p class="h1 text-center p-3">Subscribe Me</p>

      <div class="card pt-4 mb-3">
        <div class="container" id="form-register">
          <p class="h4 text-center">Register</p>
          <form method="POST" class="form-group pt-3 pl-3 pr-3">
            {% csrf_token %}
            {{ form.as_p }}
            <p id="message-info"></p>
            <button type="button" id="button-submit" class="btn btn-success" disabled>Register</button>
            <p class="h6 pt-4" id="subscibe-info"></p>
          </form>

        </div>
      </div>

    </div>
    

  </body>

</html>
